<!--	Name: Abhikash Singh
	File: Abhikash_Singh_assignment_3.html
	Date: 29 February 2024
	this files made in Oshawa as the assignment 3 in the Web development -->
  
  html {
  font-family: sans-serif;
}

/* Your CSS below here */
div{
  
  width: 200px;
  height: 200px;
  border: solid black 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: red;
  box-shadow: 5px 5px 5px;
  
}
.coolbox{
  align-items: center;
  display: flex;
  justify-content: center;
  
}